test-vm/.vagrant
*.swp
.idea.gitignore
.DS_Store
../.DS_Store
envset/
env/
*.ai
*.psd
*.csv
*.h5
*.pyc
__pycache__
.ipynb_checkpoints
.Rhistory
*.pickle
local*.py
local*/
*.sublime-workspace
*.sublime-project
